

<!-- <div class="jumbotron"> -->
<header class="video-container">
<% include ../partials/loginModal %>
<% include ../partials/signupModal %>
<% include ../partials/newPlaylistModal %>

<div class="jumbotron">
  <div class="text-center col-md-8 col-md-offset-2">
    <h1 class="text-info">Playlists, WDI Style</h1>
    <h2 class="text-muted">A place to share your favorite Playlist moments.</h2>
    <hr>
    <% if(loggedIn) { %>
      <a href="#uploadModal" data-toggle="modal" class="btn btn-lg btn-info">Share a Playlist</a>
      <a href="/users" class="btn btn-lg btn-warning">Browse Users</a>
    <% } else { %>
      <!-- <a href="/login" class="btn btn-lg btn-info">Login</a> -->
      <!-- <a href="#loginModal" data-toggle="modal" class="btn btn-lg btn-info">LoginModal</a>
      <a href="/auth/facebook" class="btn btn-lg btn-info">Login with Facebook</a> -->

      <!-- <a href="/signup" class="btn btn-lg btn-warning">Signup</a> -->
      <!-- <a href="#signupModal" data-toggle="modal" class="btn btn-lg btn-info">SignupModal</a> -->

    <% } %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <h1>What's Hot</h1>

      <ul class="list-group">
        <% playlists.forEach((playlist) => { %>
          <li class="list-group-item">
            <h3><%= playlist.name %>
            <button data-id="<%= playlist._id %>"  class="upVoteButton">
              <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            </button>

            <div class="voteCounter"> <%= playlist.votes %> <span></span></div>

            <button data-id="<%= playlist._id %>" class="downVoteButton">
              <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            </button>
            </h3>
            <%- playlist.url %>
            <a href="/playlists/<%= playlist._id %>"><button class="btn btn-primary">Comments</button></a>
          </li>
        <% }) %>
      </ul>
      </div>
      </div>
  </div>
</header>
<!-- </div> -->

<script type="text/javascript">

  $('.upVoteButton').on('click', function () {
    var playlistID = $(this).attr('data-id')
    var ajaxOptions = {
      method: 'PATCH',
      url: '/playlists/' + playlistID + '/upvote'
    }
    $.ajax(ajaxOptions)
    .done(function (playlist) {
      $('.voteCounter').html( playlist.votes)
      // change inner html to playlist.votes of some DOM object
    })
  })

  $('.downVoteButton').on('click', function () {
    var playlistID = $(this).attr('data-id')
    var ajaxOptions = {
      method: 'PATCH',
      url: '/playlists/' + playlistID + '/downvote'
    }
    $.ajax(ajaxOptions)
    .done(function (playlist) {
      $('.voteCounter').html( playlist.votes)
    })
  })




</script>
