<div class="spacer"></div>
<div class="video-container">
  <video preload="true" autoplay="autoplay" loop="loop" volume="0">
    <source src="../../media/crowd.mp4" type="video/mp4">
  </video>
</div>


<% include ../partials/loginModal%>
<% include ../partials/signupModal %>
<% include ../partials/newPlaylistModal %>

<div class="jumbotron">

  <div class="text-center col-md-8 col-md-offset-2">
    <h1 class="text-info">Playlists, WDI Style</h1>
    <h2 class="text-muted">A place to share your favorite Playlist moments.</h2>
    <hr>
    <% if(loggedIn) { %>
      <a href="#uploadModal" data-toggle="modal" class="btn btn-lg btn-info" id="ShareAPlaylistButton">Share a Playlist</a>
      <a href="/users" class="btn btn-lg btn-warning" id="browseUsersButton">Browse Users</a>
    <% } %>
      <div class="col-md-8 col-md-offset-2">
        <h1>What's Hot</h1>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-8 col-md-offset-2">
      <ul class="list-group">
        <% playlists.forEach((playlist) => { %>
          <li class="list-group-item">
            <h3 class="playlistNameDisplay"><%= playlist.name %>
            <button data-id="<%= playlist._id %>"  class="upVoteButton">
              <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
            </button>

            <div data-id="<%= playlist._id %>" class="voteCounter"> <%= playlist.votes %> <span></span></div>

            <button data-id="<%= playlist._id %>" class="downVoteButton">
              <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            </button>
            </h3>
            <%- playlist.url %>
            <a href="/playlists/<%= playlist._id %>"><button class="btn btn-primary">Comments</button></a>
          </li>
        <% }) %>
      </ul>
      </div>
    </div>
</header>
<!-- </div> -->

<script type="text/javascript">

$('#loginModal').modal({ show: false})

  $('.upVoteButton').on('click', function () {
  if (<%= loggedIn %> ) {
    var playlistID = $(this).attr('data-id')
    var ajaxOptions = {
      method: 'PATCH',
      url: '/playlists/' + playlistID + '/upvote'
    }
    $.ajax(ajaxOptions)
    .done(function (playlist) {
      $('.voteCounter[data-id=' + playlist._id + ']').html( playlist.votes)
    })
  }
      else {
        $('#loginModal').modal('show');
      }
  })

  $('.downVoteButton').on('click', function () {
  if (<%= loggedIn %> ) {
    var playlistID = $(this).attr('data-id')
    var ajaxOptions = {
      method: 'PATCH',
      url: '/playlists/' + playlistID + '/downvote'
    }
    $.ajax(ajaxOptions)
    .done(function (playlist) {
      $('.voteCounter[data-id=' + playlist._id + ']').html( playlist.votes)
    })
  }
    else {
      $('#loginModal').modal('show');
    }
  })


</script>
