<div class="spacer"></div>
<div class="video-container">
  <video preload="true" autoplay="autoplay" loop="loop" volume="0">
    <source src="../../media/crowd.mp4" type="video/mp4">
  </video>
</div>


<% include ../partials/loginModal%>
<% include ../partials/signupModal %>
<% include ../partials/newPlaylistModal %>

<div class="jumbotron">

  <div class="text-center col-md-8 col-md-offset-2">
    <h1 class="text-info class"><strong>Playlists, WDI Style</strong></h1>
    <h2 class="text-muted">A place to share your favorite Playlist moments.</h2>
    <hr>
    <% if(loggedIn) { %>
      <a href="#uploadModal" data-toggle="modal" class="btn btn-lg btn-info" id="ShareAPlaylistButton">Share a Playlist</a>
      <a href="/users" class="btn btn-lg btn-warning" id="browseUsersButton">Browse Users</a>
    <% } %>
      <div class="col-md-8 col-md-offset-2">
        <h1>What's Hot</h1>
      </div>
    </div>
</div>
<br>
<br>
<br>
<div class="row" style="text-align:-webkit-center">
  <h5>Please Login into Your Spotify Account either Desktop App or on the Web before Listening</h5>
</div>
<div class="row" style="background-color:white; border-radius: 20px;">
  <% playlists.forEach((playlist) => { %>

  <div class="col-md-5 col-md-offset-1">

    <div class="row">
      <h3 class="playlistNameDisplay" style="text-align:-webkit-center"><%= playlist.name %></h3>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="row" style="text-align:-webkit-center; padding-top:40px">
          <button data-id="<%= playlist._id %>"  class="upVoteButton">
            <img style="width:50px" src="http://www.clker.com/cliparts/d/5/b/b/11949856281555500779tasto_4_architetto_franc_01.svg.hi.png"/>

            <!-- <span style="position:relative;width:80px; background-color:#d5d7d9"class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> -->
          </button>
        </div>
        <div class="row" style="padding-top:20px; padding-bottom:20px">
          <div data-id="<%= playlist._id %>" class="voteCounter"><h1> <%= playlist.votes %></h1> <span></span></div>

        </div>
        <div class="row" style="text-align:-webkit-center; padding-top:20px">
          <button data-id="<%= playlist._id %>" class="downVoteButton">
            <!-- <span style="position:relative;width:80px; background-color:#d5d7d9" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> -->
            <img style="width:50px" src="http://i1109.photobucket.com/albums/h437/caltrevethan/for%20my%20project/downarrow.png"/>

          </button>
        </div>

      </div>
      <div class="col-md-5" style="text-align:-webkit-center;" >
        <%- playlist.url %>
      </div>
    </div>

    <div class="row" style="text-align:-webkit-center">
      <div class="row">
        Comments: <%=playlist.comments.length%>

      </div>

      <div class="row">
        <a href="/playlists/<%= playlist._id %>"><img style="width:200px; height: 50px;"src="http://www.theadventuresofellabanana.com/wp-content/uploads/2015/10/share-your-thoughts.png"></a>
      </div>


    </div>
    <hr>

  </div>
<% }) %>

</div>




<!-- </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <ul class="list-group">
      <% playlists.forEach((playlist) => { %>
        <li class="list-group-item">
          <h3 class="playlistNameDisplay"><%= playlist.name %>
          <button data-id="<%= playlist._id %>"  class="upVoteButton">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
          </button>

          <div data-id="<%= playlist._id %>" class="voteCounter"> <%= playlist.votes %> <span></span></div>

          <button data-id="<%= playlist._id %>" class="downVoteButton">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
          </button>
          </h3>
          <%- playlist.url %>
          <a href="/playlists/<%= playlist._id %>"><button class="btn btn-primary">Comments</button></a>
        </li>
      <% }) %>
    </ul>
    </div>
  </div> -->


<!-- </div> -->

<script type="text/javascript">

$('#loginModal').modal({ show: false})

  $('.upVoteButton').on('click', function () {
  if (<%= loggedIn %> ) {
    var playlistID = $(this).attr('data-id')
    var ajaxOptions = {
      method: 'PATCH',
      url: '/playlists/' + playlistID + '/upvote'
    }
    $.ajax(ajaxOptions)
    .done(function (playlist) {
      $('.voteCounter[data-id=' + playlist._id + ']').html( playlist.votes)
    })
  }
      else {
        $('#loginModal').modal('show');
      }
  })

  $('.downVoteButton').on('click', function () {
  if (<%= loggedIn %> ) {
    var playlistID = $(this).attr('data-id')
    var ajaxOptions = {
      method: 'PATCH',
      url: '/playlists/' + playlistID + '/downvote'
    }
    $.ajax(ajaxOptions)
    .done(function (playlist) {
      $('.voteCounter[data-id=' + playlist._id + ']').html( playlist.votes)
    })
  }
    else {
      $('#loginModal').modal('show');
    }
  })


</script>
